@model IEnumerable<AmusmentPlanningSystem.Models.Event>

@{
    ViewData["Title"] = "Ordered Services";
}


<h1>Ordered Services</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Service.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.From)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.To)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Service.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Service.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Service.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.From)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.To)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Service.Price)
            </td>

            <td>
                <a type="button" class="btn btn-secondary">Edit</a>
                <a type="button" class="btn btn-danger text-white">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
