@model IEnumerable<AmusmentPlanningSystem.Models.Service>

@{
    ViewData["Title"] = "ServiceList";

    string[] ratings = (string[])ViewData["Ratings"];
    int i = 0;
}

@{
 Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<h1>Service List</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                Rating
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr onclick="window.location='/service/openserviceinformation/@item.Id'">
            <td>
                @Html.DisplayFor(_ => item.Name)
            </td>
            <td>
                @Html.DisplayFor(_ => item.Address)
            </td>
            <td>
                @ratings[i] / 10
            </td>
        </tr>
    i++;
}
    </tbody>
</table>
